.precio {
    color: green;
}

.descripcion {
    margin-top: -10px!important;
    padding: 40px!important;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
}

.currency {
    font-size: 11px;
    color: gray;
}

.bread {
    color: dodgerblue;
}

.card-img {
    width: 200px!important;
}

.condicion {
    color: green;
    font-weight: bold;
    text-transform: uppercase;
}

.img-product {
    width: 250px;
}

.buscarImg {
    width: 60%;
}

.logotipo {
    width: 100%!important;
}