.precio {
    color: green;
}

.descripcion {
    margin-top: -10px!important;
    padding: 40px!important;
    border: 1px solid lightgray;
    border-radius: 5px;
    background-color: white;
}

.currency {
    font-size: 11px;
    color: gray;
}