<nav class="navbar navbar-light bg-warning">
    <div class="container">

        <div class="col-2">
            <a class="navbar-brand" href="#">
                <img src="assets/logo.png" width="90%" class="d-inline-block align-top" alt="" loading="lazy">
            </a>
        </div>

        <div class="col-10">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="Nunca dejes de buscar">
                <div class="input-group-append">
                    <span class="input-group-text"><img width="68%" src="assets/busqueda.png" alt=""></span>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <br><br>
    <div class="card mb-3">
        <div class="row no-gutters">
            <div class="col-md-4">
                <img [src]="articulo.picture" class="card-img" alt="...">
                <br><br>

            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <p class="card-text">{{articulo.condition | uppercase}} / Vendidos: {{articulo.sold_quantity}}</p>
                    <p class="card-text"><strong>{{articulo.title}}</strong></p>
                    <h2 class="card-title precio">${{articulo.price.price}} <small class="currency">{{articulo.price.currency}}</small></h2>
                    <hr>
                    <button class="btn btn-primary">Comprar</button>

                </div>
            </div>
        </div>
        <div class="row">
            <div class="descripcion">
                <h5 class="card-title">Descripción del producto</h5>
                <hr>
                <p class="card-text"><small class="text-muted">{{articulo.description}}</small></p>
            </div>
        </div>
    </div>
</div>