<nav class="navbar navbar-light bg-warning">
    <div class="container">

        <div class="col-2">
            <a class="navbar-brand" href="#">
                <img src="assets/logo.png" width="90%" class="d-inline-block align-top" alt="" loading="lazy">
            </a>
        </div>

        <div class="col-10">
            <div class="input-group">
                <input #elemento type="text" (keyup.enter)="buscarProductos(elemento.value)" class="form-control" placeholder="Nunca dejes de buscar">
                <div class="input-group-append">
                    <button (click)="buscarProductos(elemento.value)" class="input-group-text"><img width="68%" src="assets/busqueda.png" alt=""></button>
                </div>
            </div>
        </div>
    </div>
</nav>
<div class="container">
    <br>
    <span *ngIf="categorias" class="bread">Breadcrumb / {{categorias}}</span>
    <br>
    <br>
    <div class="card mb-3" *ngFor="let articulo of productos">
        <div class="row no-gutters">
            <div class="col-md-3">
                <img [src]="articulo.picture" class="img-prod card-img" alt="...">
            </div>
            <div class="col-md-9">
                <div class="card-body">
                    <h3 class="card-title">${{articulo.price.price}} <img width="20px" *ngIf="articulo.free_shipping" src="assets/freeShipping.png" alt=""></h3>
                    <p class="card-text">{{articulo.title}}</p>
                    <hr>
                    <p class="card-text"><small class="text-muted">Condición: {{articulo.condition | uppercase}}</small></p>
                    <button class="btn btn-primary" [routerLink]="['/articulo',articulo.id]" routerLinkActive="router-link-active">Ver detalle</button>
                </div>
            </div>
        </div>
    </div>
</div>